{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/home.css" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}



{% block content %}
<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'airlines')" id="defaultOpen">Airlines</button>
    <button class="tablinks" onclick="openTab(event, 'airports')">Airports</button>
</div>

<!-- Tab content -->
<div id="airlines" class="tabcontent">

    <div class="container mt-5">
        <!-- Panel de filtros -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Your Airlines</h5>

                <div id="container">
                    {% for airline in fav_airlines  %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="{{airline["iata_code"]}}"
                            value="{{airline["iata_code"]}}" checked>
                        <label class="form-check-label" for="inlineCheckbox1">{{airline["airline"]}} ({{airline["iata_code"]}})</label>
                    </div>
                    {% endfor %}

                </div>

                <br>

                <button class="btn btn-primary" id="filter-btn">Filtrar</button>


                <form action="/home" method="POST">

                    <!-- Aquí puedes agregar los campos de filtro para las aerolíneas y los aeropuertos -->

                </form>
            </div>
        </div>
    </div>

    <div class="charts_container">

        {% for plot in json_arr %}
            <div class="chart">
                <div id="{{ loop.index }}"></div>
                <script>
                    var chartData{{ loop.index }} = JSON.parse('{{ plot | safe }}');
                    
                    Plotly.newPlot('{{ loop.index }}', chartData{{ loop.index }}.data, chartData{{ loop.index }}.layout);
                </script>
            </div>
        {% endfor %}

    </div>

    <h4 class="airlines_title"> Airlines With No Delays </h3>

    <div class="grid">
        <div class="grid-cards">
    
            {% for airline in airlines_no_delays %}
            
            <div class="gridc-cards-inner">
                <img class="plane-icon" src="static/images/plane.png" alt="">
                <p class="airline"> {{ airline["airline_name"] }} </p>
            </div>
    
            {% endfor %}
    
        </div>
    </div>

    <br>

</div>

<div id="airports" class="tabcontent">
    <h3>Airports</h3>
    <p>Airports Description</p>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    document.getElementById("defaultOpen").click();

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    document.getElementById('filter-btn').addEventListener('click', function() {

        const checkboxes = document.querySelectorAll('.form-check-input');
        const checkedValues = [];
    
        checkboxes.forEach((checkbox) => {
    
            if (checkbox.checked) {
                const value = checkbox.value;
                checkedValues.push(value);
            }
        });

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/home/airlines/filter");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({
            ids: checkedValues,
            tab: "airlines"
        }));
        
    });

    // Aquí puedes agregar el código JavaScript para generar tus gráficos con Plotly
</script>
{% endblock %}