{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/home.css" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}



{% block content %}

    <div class="container mt-5">
        <!-- Panel de filtros -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Your Airlines</h5>

                <div id="container">

                    {% for airline in fav_airlines  %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="{{airline["iata_code"]}}"
                            value="{{airline["iata_code"]}}"  
                            {% if checked_airlines_arr |count == 0 %}
                                checked
                            {% else %}
                                {% if airline["iata_code"] in checked_airlines_arr %}
                                checked
                                {% endif %}
                            {% endif %}

                            >

                        <label class="form-check-label" for="inlineCheckbox1">{{airline["airline"]}} ({{airline["iata_code"]}})</label>
                    </div>
                    {% endfor %}

                </div>

                <br>

                <button class="btn btn-primary" id="filter-btn">Filtrar</button>


                <form action="/home" method="POST">

                    <!-- Aquí puedes agregar los campos de filtro para las aerolíneas y los aeropuertos -->

                </form>
            </div>
        </div>
    </div>

    <div class="charts_container">

        {% for plot in json_arr %}
            <div class="chart">
                <div id="{{ loop.index }}"></div>
                <script>
                    var chartData{{ loop.index }} = JSON.parse('{{ plot | safe }}');
                    
                    Plotly.newPlot('{{ loop.index }}', chartData{{ loop.index }}.data, chartData{{ loop.index }}.layout);
                </script>
            </div>
        {% endfor %}

    </div>

    {% if fav_airports |count == 0 %}
    {% else %}
        <h4 class="airlines_title"> Airlines With No Delays </h3>

            <div class="grid">
                <div class="grid-cards">
        
                {% for airline in airlines_no_delays %}
                
                <div class="gridc-cards-inner">
                    <img class="plane-icon" src="static/images/plane.png" alt="">
                    <p class="airline"> {{ airline["airline_name"] }} </p>
                </div>
        
                {% endfor %}
        
            </div>
        </div>
    {% endif %}
    <br>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

    function refreshWindow() {
        window.location.reload();
    }

    document.getElementById('filter-btn').addEventListener('click', function() {

        const checkboxes = document.querySelectorAll('.form-check-input');
        const checkedValues = [];
    
        checkboxes.forEach((checkbox) => {
    
            if (checkbox.checked) {
                const value = checkbox.value;
                checkedValues.push(value);
            }
        });

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/home/airlines/filter");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({
            ids: checkedValues,
            tab: "airlines"
        }));

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log("should refresh!!")
                refreshWindow();
            }
        };
        
    });

    // Aquí puedes agregar el código JavaScript para generar tus gráficos con Plotly
</script>
{% endblock %}